:root {
  /* Fonts */
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;

  /* Text colors */
  --main-txt-cl: #212121;
  --accent-txt-cl: #2196f3;
  --secondary-txt-cl: #757575;
  --white-txt-cl: #ffffff;
  --black-txt-cl: #000000;
  --white-txt-cl-60: rgba(255, 255, 255, 0.6);

  /* Background colors */
  --accent-bg-cl: #2196f3;
  --main-bg-cl: #2f303a;
  --secondary-bg-cl: #f5f5f5;
  --light-bg-cl: #f5f4fa;

  /* Others */
}

body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
  background-color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* Resert */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link,
.link-logo {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* header */

.header .link-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--accent-txt-cl);
}

.word {
  color: var(--black-txt-cl);
}

.header .link {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}

.header .link:hover,
.header .link:focus {
  color: var(--accent-txt-cl);
}

.header-group > .link {
  margin-right: 50px;
  color: var(--secondary-txt-cl);
}

.link-nav.active {
  color: var(--accent-txt-cl);
}

.header-group > .link:hover,
.header-group > .link:focus {
  color: var(--accent-txt-cl);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Шапка */

.section-hero {
  background-color: var(--main-bg-cl);
}

.main-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-txt-cl);
}

.btn {
  font-family: inherit;
  background-color: var(--accent-txt-cl);
  color: var(--white-txt-cl);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-color: transparent;
  border-radius: 4px;
}

.section-hero > .btn {
  margin: 0 auto;
  padding: 8px 28px;
  width: 216px;
  min-height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Особливості */

.section-features .title {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  font-size: 14px;
}

.section-features .desc {
  line-height: calc(24 / 14);
  color: var(--secondary-txt-cl);
}

.section-features .list-item {
  width: 270px;
}

/* Чим ми займаємося */

.section-about-work > .section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
}

/* Наша команда */

.section-team {
  background-color: var(--light-bg-cl);
}

.section-team .section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
}

.section-team .team-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
}

.section-team .subtitle {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--secondary-txt-cl);
}

.section-team .img {
  margin-bottom: 30px;
}

/* footer */

.footer {
  background-color: var(--main-bg-cl);
}

.footer .link-logo {
  margin-bottom: 20px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--accent-txt-cl);
}

.footer .word {
  color: var(--white-txt-cl);
}

.contacts-address {
  font-style: normal;
  line-height: calc(24 / 14);
}

.link-address {
  color: var(--white-txt-cl);
}

.link-mail {
  color: var(--white-txt-cl-60);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.link-tel {
  color: var(--white-txt-cl-60);
}

.footer .link:hover,
.footer .link:focus {
  color: var(--accent-txt-cl);
}

/* Портфоліо */

.item-btn {
  padding: 4px 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-txt-cl);
  background-color: var(--light-bg-cl);
}

.item-btn:hover,
.item-btn:focus {
  color: var(--white-txt-cl);
  background-color: var(--accent-bg-cl);
}

.img-name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
}

.subtitle-img {
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--secondary-txt-cl);
}

.section-portfolio .img {
  margin-bottom: 20px;
}
